.hometwo-top {
	max-height: 450px;
	position: relative;
}

.homebannerbox img {
	width: 100%;
	max-height: 450px;
	min-height: 200px;
}

.homecarousel-caption {
	position: absolute;
	top: 20%;
	left: 10%;
}

.homecarousel-caption p {
	font-size: 32px;
	color: #3a426b;
	font-weight: bold;
}

.homecarousel-caption a {
	margin-top: 30px;
	text-shadow: none;
	color: #ddd;
	background-color: #793f86;
	border-color: #793f86;
	font-size: 12px;
	font-weight: 400;
	padding: 8px 35px;
	border-radius: 20px;
	text-transform: uppercase;
}

.homecarousel-caption a:hover {
	color: white;
}

.hometwo-mainbox {
	width: 100%;
	padding: 3em 0;
	background-color: white;
}

.homebox-top {
	width: 100%;
	text-align: center;
	padding-bottom: 50px;
}

.homebox-top p {
	color: #333;
	font-size: 20px;
	font-weight: 700;
}

.homebox-top .line {
	width: 100px;
	height: 5px;
	background: #008de8;
	margin: 0 auto;
}

.hometwo-card {
	width: 100%;
	box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent;
	padding: 25px 15px;
	margin-bottom: 20px;
	border-radius: 5px;
	background-color: white;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.homecard-left {
	width: 40%;
	text-align: center;
}

.homecard-left img {
	width: 100px;
}

.mycontainer {
	width: 100%;
	padding-left: 8%;
	padding-right: 8%;
}

.homecard-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.homecard-right p {
	font-size: 14px;
	color: #4B384F;
}

.homecard-right h3 {
	font-weight: 600;
	margin-bottom: 15px;
}

.homecard-right {
	width: 50%;
}

.newbg {
	width: 100%;
	height: 240px;
	background: url(../img/new_bg.png) center no-repeat;
	background-size: cover;
}

.newbg-p {
	color: #4a5175;
	font-size: 14px;
	margin: 0 auto;
	padding-top: 20px;
	text-align: center;
}

.new_bg_btn {
	width: 140px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 2px;
	background-color: #ff6300;
	margin: 30px auto 0;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	padding: 0 10px;
	border-radius: 120px;
}

.gg-overlay {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 15;
	display: flex;
	justify-content: center;
}

.search-close-btn {
	width: 45px;
	height: 45px;
	position: fixed;
	top: 30px;
	right: 30px;
	line-height: 45px;
	font-size: 25px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	opacity: 0.8;
	z-index: 1;
	display: none;
}

.search-close-btn a {
	color: white;
}

.gg-content {
	width: 80%;
	background-color: white;
	height: 100%;
}

.gg-header {
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 3px 3px #EEEEEE;
}

.gg-center {
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px;
}

.footer {
	background-color: #4b384f;
	color: #ddd;
	padding: 40px 0px 15px 0px;
}

.footerbox p {
	width: 100%;
	padding: 0 20px;
	text-align: center;
	
}


/*mp监控*/

.mpcontainer {
	width: 80%;
}

.mpmp-textareabox {
	width: 100%;
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 7px 12px;
	margin: 20px 0;
}

.mpmp-textareabox textarea {
	border: none;
	width: 100%;
	color: #4b384f;
	padding: 5px 0 5px 9px;
	box-shadow: 0;
	outline: none;
}

.mpmo-btnbox {
	margin-top: 50px;
}

.mpmo-btnbox a,
.mpmo-btnbox a:hover {
	color: #ddd;
	background-color: #793f86;
	border-color: #793f86;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	padding: 10px 25px;
	font-weight: 400;
	border-radius: 25px;
	text-transform: uppercase;
}

.mptask{
	width: 100%;
	/*margin-top: 20;*/
}
.input-group{
	width: 100%;
	padding: 10px 15px;
	background-color: #E0E0E0;
	
}
.input-group a{
	color: #2296F2;
	padding: 0 10px;
}
.mptaskform .form-group{
	margin-bottom: 25px;
}
.mptaskform .form-group label{
	font-size: 13px;
	margin-bottom: 8px;	
}
.mptaskform .form-group input{
	height: 40px;
	padding: 5px 15px;
	border: 1px solid #EEEEEE;
	outline: none;
	box-shadow: none;
}
/*任务中心*/
.taskcenter-list{
	width: 100%;
	padding: 20px 0;
}
.taskcenter-box{
	display: inline-block;
	width: 100%;
	background-color: white;
	box-shadow: 0 2px 2px 0 transparent, 0 1px 5px 0 rgba(0, 0, 0, .24), 0 3px 1px -2px transparent;
	padding: 15px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	cursor: pointer;
}
.taskcenter-box img{
	width: 100px;
}
.taskcenter-box h4{
	font-weight: 600;
	
}
@media only screen and (min-width:1500px) {
	.mycontainer {
		width: 100%;
		padding-left: 12%;
		padding-right: 12%;
	}
}

@media only screen and (max-width:1200px) {
	.homecarousel-caption p {
		font-size: 22px;
		color: #3a426b;
		font-weight: bold;
	}
}

@media only screen and (max-width:1200px) {
	.mpcontainer {
		width: 100%;
	}
}

@media only screen and (max-width:767px) {
	.homecarousel-caption p {
		font-size: 18px;
	}
	.homebox-top p {
		font-size: 16px;
	}
	.homebox-top .line {
		width: 80px;
		height: 3px;
	}
	.hometwo-mainbox {
		padding: 1.5em 0;
	}
	.homecard-left img {
		width: 80px;
	}
	.hometwo-card {
		padding: 15px;
	}
	.mycontainer {
		width: 100%;
		padding-left: 6%;
		padding-right: 6%;
	}
	.homecard-right h3 {
		font-size: 20px;
	}
	.gg-content {
		width: 100%;
	}
	.mpcontainer {
		width: 100%;
		padding: 10px 0;
	}
}

@media only screen and (max-width:460px) {
	.homecarousel-caption p {
		font-size: 16px;
	}
	.homebox-top p {
		font-size: 14px;
	}
	.homebox-top .line {
		width: 60px;
		height: 3px;
	}
	.homecard-right h3 {
		font-size: 17px;
	}
	.gg-center {
		padding: 15px;
	}
	.mycontainer {
		width: 100%;
		padding-left: 3%;
		padding-right: 3%;
	}
	.footerbox p{
		font-size: 12px;
	}
}