.zztaskbox {
	display: inline-block;
	width: 100%;
	padding: 20px;
	box-shadow: 0 0 10px #eae7e7;
	background-color: white;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 25px;
}

.zztaskinner {
	width: 100%;
	border: 1px solid #EEEEEE;
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.zztaskinner h3 {
	font-size: 18px;
	font-weight: 600;
}

.zztaskinner p {
	line-height: 50px;
}

.zztaskinner p span {
	padding-left: 6px;
}

.zztaskcontent {
	padding: 15px;
}

.form-ltnum {
	width: 200px;
	border-radius: 4px;
	display: block;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.people-line {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.radiobox {
	margin: 0 20px;
}

.height-200 {
	height: 200px!important;
}


/*任务列表*/

.taskhtml-box {
	width: 100%;
}

.taskhtml-header {
	width: 100%;
}

.mybtn,
.mybtn:hover {
	color: #ddd;
	background-color: #793f86;
	border-color: #793f86;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	font-size: 14px;
	padding: 6px 20px;
	font-weight: 400;
	border-radius: 25px;
	text-transform: uppercase;
}

.mytaskform>div input,
.mytaskform>div select {
	height: 40px;
}

.mydataTable {
	margin-top: 30px;
	background-color: #EFEFEF;
}

.mydataTable tbody {
	background-color: white;
}

.tbody_header {
	display: none;
}

.mydataTable tbody tr td:first-child{
	font-weight: 600;	
}

.task-statue{
	min-width: 80px;
}
.table-status{
	background-color: orangered;
	color: white;
	border-radius: 4px;
	padding: 5px;
}

.mytask-a{
	color: #008DE8;
}
.mydataTable tbody tr td span{
	font-size: 13px;
}
.yytask-name{
	font-weight: 600;
	color: #4B384F;
} 
.yytask-link{
	color: #0362A5;
	font-weight: 600;
}
.mydatatableheader{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 30px 0;
	position: relative;
}
.hh-header{
	width: 5px;
	height: 100%;
	background-color: #008DE8;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin-right: 15px;
}
.mydatatableheader span{
	font-weight: 600;
	font-size: 18px;
}
.mydataTable tbody tr td{
	padding: 15px 8px;
}

.pay-statue{
	padding: 5px;
	border-radius: 4px;
	background-color: orangered;
	color: #FFFFFF;
}

@media only screen and (max-width:960px) {
	.mydataTable thead {
		display: none;
	}
	.tbody_header {
		display: inline-block;
	}
	.mydataTable{
		border: 0;
	}
	.mydataTable tbody tr {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
		background-color: #F2F2F2;
		/*align-items: center;*/
	}
	.mydataTable tbody tr td {
		display: flex;
	}
	.mydataTable tbody tr td span:first-child {
		display: inline-block;
		width: 100px;
		font-weight: 600;
	}
}

@media only screen and (max-width:767px) {
	.zztaskbox {
		padding: 12px;
		margin-bottom: 15px;
	}
	.zztaskinner h3 {
		font-size: 16px;
		font-weight: 900;
	}
	.zztaskinner {
		padding: 10px 0;
	}
	.operatingone .dropdown-menu .dropdown-item{
		display: inline-block;
    	margin: 5px 0;
	}
}