body{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
a,a:hover,a:focus{
	text-decoration: none;
}
.login-wrapps{
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
	background: url(../img/timgs.jpg) no-repeat center center;
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-title{
	margin-top: 100px;
}
.wrappercenter{
	width: 560px;
	/*border: 1px solid #DDDDDD;*/
	padding: 20px;
	margin-top: 50px;
	background-color: white;
	box-shadow: 2px 2px 5px #DDDDDD;
	margin-bottom: 50px;
}
.wrappercenter h4{
	width: 100%;
	padding: 10px;
	color: #BB3756;
	border-bottom: 2px double #BB3756;
	text-align: center;
}
.login-form label{
	font-size: 15px;
}
.login-form label span{
	margin-right: 8px;
	font-size: 24px;
}
.login-form .form-group input{
	height: 45px;
}
.login-sub{
	width: 100%;
	background-color: #BB3756;
	color: white;
	border: 0;
	padding: 12px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.toregister{
	width: 100%;
	padding: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	
}
.toregister span{
	color: #333333;
}
.toregister span a{
	color: #BB3756;
	cursor: pointer;
}

/*注册*/
.form-yzm{
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}
.form-yzm input,.form-yzm a{
	display: inline-block;
	width: 48%;
	height: 45px;
	border: 1px solid #ccc;
}
.form-yzm input{
	margin-right:10px ;
}
.yzcode-img{
	height: 45px;
	overflow: hidden;
	display: block;
	vertical-align: middle;
	cursor: pointer;
}
.yzcode-img img{
	width: 100%;
	height: 45px;
}


@media only screen and (max-width: 886px) {
	.wrappercenter{
		width: 60%;
	}
}

@media only screen and (max-width:767px ) {
	.wrappercenter{
		width: 80%;
	}
}
@media only screen and (max-width:520px ) {
	.wrappercenter{
		width: 90%;
		padding: 10px;
		margin-top: 30px;
	}
	
	.login-title{
		margin-top: 60px;
	}
}


